<div class="container">
    <h2 class="text-info">dopodown</h2>
    <div class="p-4 border rounded">
        <div class="form-group row">
            <div class="col-md-7">
                <label>categiry</label>
                <input type="text" [(ngModel)]="categiry" class="form-control"/>
                 <div class="form-group ">

    
                <button class="btn btn-primary" (click)="submitcategiry()">save</button>
                <button class="btn btn-success">Back</button>
            </div>

            
            </div>
        </div>
    </div>
</div>
